{% extends 'base.html.twig' %}

{% block title %}{{ 'page.contactus.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'app.message.create'|trans }}</h1>

    {{ include('message/_form.html.twig') }}
{% endblock %}
