{% extends 'base.html.twig' %}

{% block title %}{{ 'page.aboutus.title'|trans }}{% endblock %}

{% block body %}

    <div class="content-body">
        <h1>About Us</h1>
        <p>At Eyeglasses.com, "Our Vision is Service."&nbsp; We are a high quality, high service provider of eye wear.&nbsp;
            We never make glasses in "about an&nbsp;hour", we don't make them in the back room, and we do not send them
            overseas.&nbsp; We use the world's largest and best quality lens laboratory to make all of our glasses
            using the finest quality materials.&nbsp; Our service quality is what differentiates us from all the
            other online eye wear companies.&nbsp;<br>
            <br>
            Our service quality has been recognized by organizations such is <a
                    href="https://www.bbb.org/connecticut/business-reviews/eyeglass-suppliers/tryiton-eyewear-llc-in-westport-ct-87003622/">BBB</a>,
            &nbsp;<a href="https://www.shopperapproved.com/reviews/eyeglasses.com/">Shopper Approved</a>, and <a
                    href="http://www.bizrate.com/ratings_guide/merchant_detail__mid--232005?rf=sur">BizRate</a>.&nbsp;
            Of all the online eye wear companies, we have the highest rating from the Better Business Bureau (A+), and
            we have held that for 14 years - far longer than any other.&nbsp; We believe that there is no cutting
            corners
            in making a fine pair of eyewear.&nbsp; Our service philosophy also extends to our community and our
            environment, and we particiipate in the Lions Club eyewear recycling program.&nbsp; We offer tools to help
            customers make their own eyewear decisions, and the ability to buy their eyewear easily and at the right
            price.&nbsp; Follow this link to read more about our Management Team.</p>
        <p>We only offer a top quality lens service; we do not
            offer cut-rate lens service at a lower price.&nbsp; We feel that in lenses there is no cutting corners.&nbsp;
            Regarding frames, we continually strive to offer only good quality frames; however, while a $50 frame could
            be good quality, it is not designed to last as long as a $100 frame in most cases.&nbsp; We listen to your
            comments and do remove frames and frame brands when we hear complaints about unusual amounts of product
            breakage.&nbsp; All of our products and services carry the Eyeglasses.com warranty and return policy.</p>
        <p>The eye wear industry does not provide consumers with much information about buying eye wear. We want you to
            have as much information as possible so that you can make an informed decision. If we can help you learn
            about buying eye wear, I have succeeded in my personal mission whether you buy from us or not. But I believe
            that after you compare our products, services, and prices against other eye wear stores, our value package
            will win you over as a customer.</p>
        <p>Is The Eyeglasses.com service package a good choice for you?&nbsp; Here is a quick summary of our "value
            package":</p>
        <p>1) We offer tools to enable you to make your own eye wear decisions: a giant frame selection, Lens Wizard, Frame
                Search, Prescription Manager, Lens Price
                List, Glasses Buying Guide,&nbsp;and more.</p>
        <p>2) Our prices are about double our costs for products, which are usually much lower prices than other retail
            stores.&nbsp; However, we are not discounters, we do not accept insurance,
            and we do not price match.&nbsp; We only provide high quality lens service and we value quality over speed
            at the lens lab.</p>
        <p>3) Buying eyeglass frames from us takes longer than buying eye wear at your local
            store.&nbsp; If you are in a rush, buying eye wear from us is not your best alternative.&nbsp; Go to our
                    shipping page for more information about timing.&nbsp; Also, if you need
            someone else to make all of your eye wear decisions for you, you are better off going to a local optical
            store.&nbsp; However, we are always available by phone or email to answer your
            questions.</p>
        <p>The service we provide is different from the service you will experience in an eye wear store. Since our
            founding in 1999 many years ago, hundreds of thousands of&nbsp; people have chosen us and been thrilled with
            the result. At The Vision Solution Store, "Our Vision Is Service" and our method is honesty and integrity.
            We work every day to improve our service, and we take all customer comments very seriously.<br>
            <br>
            We take a wide view of the concept of Service, and so we give back to several organizations including the
            Homeless (various local shelters), <a href="https://www.rotary.org/">Rotary International</a>, and <a
                    href="https://www.giftofvision.org/">Sankara Eye Foundation</a>.&nbsp; In fact, in December 2017 we
            set up a program to cure blindness in one person per day.&nbsp; As of May 2, 2019, we have cured blindness
            in 565&nbsp;people, and that number grows every day.</p>
        <p>From all of us at Eyeglasses.com, thank you for visiting The Eyeglasses.com Vision Solution Store, founded in
            1999 as "Eyeglasses.com", for all your eyeglasses and sunglasses needs.</p>
        <p>Mark Agnew<br>
            Founder and CEO<br>
            147 Post Road East<br>
            Westport, CT&nbsp; 06880<br>
            203-544-0770<br>
            <a href="mailto:help@eyeglasses.com">help@myglasses.com</a></p>
    </div>


{% endblock %}
