{% extends 'base.html.twig' %}

{% block title %}Edit GlassesStore{% endblock %}

{% block body %}
    <h1>Edit GlassesStore</h1>

    {{ include('glasses_store/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_glasses_store_index') }}">back to list</a>

    {{ include('glasses_store/_delete_form.html.twig') }}
{% endblock %}
