{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div
            class="p-5 text-center bg-image"
            style="
                    background-image: url({{ asset("build/images/Home.jpg") }});
                    height: 400px;
                    "
    >
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white">
                    <h1 class="mb-3">{{ 'page.home.title'|trans }}</h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
