{% extends 'base.html.twig' %}

{% block title %}New Glasses{% endblock %}

{% block body %}

    <h1>{{ 'app.glasses.create'|trans }}</h1>

    {{ include('glasses/_form.html.twig') }}

    <a class="btn btn-warning" href="{{ path('app_glasses_index') }}">{{ 'app.glasses.back'|trans }}</a>

{% endblock %}
